#txt-input{
    width: 60%;
    display: block;
    height: 10vh;
    /**text-align: center;**/
    padding: 2rem 2rem;
    margin: auto;
    padding-bottom: 2rem;
}
    #output {
        border: 1px solid black;
        height: 8vh;
        width: 60%;
        margin: 1.1rem;
        padding: 1rem;
        margin: auto;
    }

.container{
    text-align: center;
    background-color: #fcd34d;
    padding: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}
.btn{
    padding:1rem 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:  #fcd34d ;
    border-radius: 0.5rem 0.5rem ;
    margin-top: 1rem;
    font-size: larger;
    cursor: pointer;
    
}
.output-msg{
    text-align: center;
    padding:1rem 1rem;
    font-size: larger;
}

.footer{
    text-align: center;
    background-color: #fcd34d;
    font-size: larger;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
    border-radius:0.5rem;
}
